<div ng-controller="CitasCtrl">
    <div class="wrapper-md bg-light b-b">
        <button type="button" class="btn btn-default btn-addon pull-right m-t-n-xs" ui-toggle-class="show" target="#aside">
            <i class="fa fa-bars"></i> List
        </button>
        <h1 class="m-n font-thin h3">Gestión de Citas</h1>
    </div>

    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <div class="col wrapper-md">

            <div class="row" ng-show="nuevo">
                <div class="col-md-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{TitleForm}}
                        </div>
                        
                        <div style="padding: 8px;">
                            <form name="myForm">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group has-feedback" ng-class="{'has-success': myForm.sucursal.$dirty && myForm.sucursal.$valid, 'has-error': myForm.sucursal.$dirty && myForm.sucursal.$invalid}">
                                            <label>Sucursal</label>
                                            <span ng-show="loadSucursales">
                                                <i class="fa fa-spinner fa-spin"></i>
                                            </span>
                                            <div>
                                                <select class="form-control" ng-model="cita.SUCURSAL" ng-options="sucursal.NOMBRE for sucursal in sucursales" required > 
                                                    <option value="">-- Seleccione --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group has-feedback" ng-class="{'has-success': myForm.empleado.$dirty && myForm.empleado.$valid, 'has-error': myForm.empleado.$dirty && myForm.empleado.$invalid}">
                                            <label>Empleado</label>
                                            <span ng-show="loadEmpleados">
                                                <i class="fa fa-spinner fa-spin"></i>
                                            </span>
                                            <div>
                                                <select class="form-control" ng-model="cita.EMPLEADO" ng-options="empleado.NOMBRES for empleado in empleados" required >
                                                    <option value="">-- Seleccione --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group has-feedback" ng-class="{'has-success': myForm.servicio.$dirty && myForm.servicio.$valid, 'has-error': myForm.servicio.$dirty && myForm.servicio.$invalid}">
                                            <label>Servicios</label>
                                            <span ng-show="loadServicios">
                                                <i class="fa fa-spinner fa-spin"></i>
                                            </span>
                                            <div>
                                                <select class="form-control" ng-model="cita.SERVICIO" ng-options="servicio.NOMBRE for servicio in servicios" required >
                                                    <option value="">-- Seleccione --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <div class="myForm-group has-feedback" ng-class="{'has-success': myForm.fecha.$dirty && myForm.fecha.$valid, 'has-error': myForm.fecha.$dirty && myForm.fecha.$invalid}">
                                            <label>Fecha</label>
                                            <input type="date" class="form-control" name="fecha" ng-model="cita.FECHA" placeholder="Fecha del servicio" required />
                                            <span ng-show="myForm.fecha.$dirty && myForm.fecha.$valid" class="glyphicon glyphicon-ok form-control-feedback">
                                            </span>
                                            <span ng-show="myForm.fecha.$dirty && myForm.fecha.$invalid" class="glyphicon glyphicon-remove form-control-feedback">
                                            </span>
                                        </div>
                                    </div>
                                
                                    <div class="form-group col-sm-4">
                                        <div class="myForm-group has-feedback" ng-class="{'has-success': myForm.horaini.$dirty && myForm.horaini.$valid, 'has-error': myForm.horaini.$dirty && myForm.horaini.$invalid}">
                                            <label>Hora inicio</label>
                                            <input type="time" class="form-control" name="horaini" ng-model="cita.HORAINICIO" placeholder="hora inicio" required />

                                            <span ng-show="myForm.horaini.$dirty && myForm.horaini.$valid" class="glyphicon glyphicon-ok form-control-feedback">
                                            </span>
                                            <span ng-show="myForm.horaini.$dirty && myForm.horaini.$invalid" class="glyphicon glyphicon-remove form-control-feedback">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <div class="myForm-group has-feedback" ng-class="{'has-success': myForm.horafin.$dirty && myForm.horafin.$valid, 'has-error': myForm.horafin.$dirty && myForm.horafin.$invalid}">
                                            <label>Hora fin</label>
                                            <input type="time" class="form-control" name="horafin" ng-model="cita.HORAFIN" placeholder="hora final" required />

                                            <span ng-show="myForm.horafin.$dirty && myForm.horafin.$valid" class="glyphicon glyphicon-ok form-control-feedback">
                                            </span>
                                            <span ng-show="myForm.horafin.$dirty && myForm.horafin.$invalid" class="glyphicon glyphicon-remove form-control-feedback">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <div class="myForm-group has-feedback" ng-class="{'has-success': myForm.paciente.$dirty && myForm.paciente.$valid, 'has-error': myForm.paciente.$dirty && myForm.paciente.$invalid}">
                                            <label>Paciente</label>
                                            <input type="text" class="form-control" name="paciente" ng-model="cita.PACIENTE" placeholder="Nombres y apellidos del paciente" required />
                                            <span ng-show="myForm.paciente.$dirty && myForm.paciente.$valid" class="glyphicon glyphicon-ok form-control-feedback">
                                            </span>
                                            <span ng-show="myForm.paciente.$dirty && myForm.paciente.$invalid" class="glyphicon glyphicon-remove form-control-feedback">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 pull-right">
                                        <button type="button" class="btn btn-default pull-right" ng-click="cancelar();">
                                            Cancelar
                                        </button>
                                        <button type="submit" class="btn btn-success pull-right" style="margin-right: 5px;" ng-click="saveCita();">
                                            {{botonText}}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix m-b">
                <div class="col-sm-2" style="margin-bottom: 5px; padding-top: 25px;">
                    <button class="btn btn-default" ng-click="nuevaCita();" ng-hide="nuevo" >
                        Nuevo
                    </button>
                </div>

                <div class="col-sm-4">
                    <label>Seleccione una sucursal</label>
                    <span ng-show="loadSucursales">
                        <i class="fa fa-spinner fa-spin"></i>
                    </span>
                    <select class="form-control" ng-change="sucursalChange()" ng-model="sucursal" ng-options="sucursal.NOMBRE for sucursal in sucursales" required > 
                        <option value="">-- Seleccione --</option>
                    </select>
                </div>

                <div class="col-sm-2">
                    <label> Calendar View</label>
                    <input type="checkbox" ng-model="calendarView" ng-change="citasViewChange()">
                </div>

                <div class="pull-right" ng-show="calendarView">
                    <button type="button" class="btn btn-sm btn-default" ng-click="today()">today</button>
                    <div class="btn-group m-l-xs">
                        <button class="btn btn-sm btn-default" ng-click="changeView('agendaDay')">Day</button>
                        <button class="btn btn-sm btn-default" ng-click="changeView('agendaWeek')">Week</button>
                        <button class="btn btn-sm btn-default" ng-click="changeView('month')">Month</button>
                    </div>
                </div>
            </div>
            <div class="pos-rlt" ng-show="calendarView">
                <div class="fc-overlay">
                <div class="panel bg-white b-a pos-rlt">
                    <span class="arrow"></span>
                    <div class="h4 font-thin m-b-sm">{{event.title}}</div>
                    <div class="line b-b b-light"></div>
                    <div><i class="icon-calendar text-muted m-r-xs"></i> {{event.start | date:'medium'}}</div>
                    <div class="ng-hide" ng-show='event.end'><i class="icon-clock text-muted m-r-xs"></i> {{event.end | date:'medium'}}</div>
                    <div class="ng-hide" ng-show='event.location'><i class="icon-pointer text-muted m-r-xs"></i> {{event.location}}</div>
                    <div class="m-t-sm">{{event.info}}</div>
                    <div class="m-t-sm">{{event.url}}</div>
                </div>
                </div>
                <div class="calendar" ng-model="eventSources" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
            </div>
            <div class="col-md-12" ng-show="!calendarView">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Listado de citas
                    </div>
                    
                    <div style="padding: 8px;">
                        <table class="table table-bordered">
                            <tr>
                                <th>
                                    Sucursal
                                </th>
                                <th>
                                    Empleado
                                </th>
                                <th>
                                    Servicio
                                </th>
                                <th>
                                    Paciente
                                </th>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Hora
                                </th>
                                <th>
                                    Eliminar/Editar
                                </th>
                            </tr>
                            <tr ng-show="citas.length==0">
                                <td style="vertical-align:middle;" colspan="10">
                                    <i class="fa fa-ban fa-3x"></i>
                                    &nbsp;No data found
                                </td>
                            </tr>
                            <tr ng-hide="citas.length>-1">
                                <td style="vertical-align:middle;" colspan="10">
                                    <i class="fa fa-cog fa-3x fa-spin"></i>
                                    &nbsp;Loading
                                </td>
                            </tr>
                            <tr ng-repeat="cita in citas">
                                <td>
                                    {{cita.SUCURSAL.NOMBRE}}
                                </td>
                                <td>
                                    {{cita.EMPLEADO.NOMBRES}}
                                </td>
                                <td>
                                    {{cita.SERVICIO.NOMBRE}}
                                </td>
                                <td>
                                    {{cita.PACIENTE}}
                                </td>
                                <td>
                                    {{cita.FECHA}}
                                </td>
                                <td>
                                    {{cita.HORAINICIO}}
                                </td>
                                <td style="width: 120px">
                                      <div class="btn-group" style="float: right;">
                                        <button type="button" class="btn btn-default fa fa-edit" ng-click="EditarCita(cita);"></button>
                                    </div>
                                        
                                    <div class="btn-group" style="float: left;">
                                        <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteCita(cita);"></button>
                                     </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>


        </div>
        <div class="col w-md w-auto-xs bg-light dk bg-auto b-l hide" id="aside">
            <div class="wrapper">
                <div ng-repeat="e in events" class="bg-white-only r r-2x m-b-xs wrapper-sm {{e.className[0]}}">          
                    <input ng-model="e.title" class="form-control m-t-n-xs no-border no-padder no-bg">
                    <a class="pull-right text-xs text-muted" ng-click="remove($index)"><i class="fa fa-trash-o"></i></a>
                    <div class="text-xs text-muted">{{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}</div>
                </div>
            </div>
        </div>
    </div>
</div>