<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">
		Gestion  de Empleados
	</h1>
</div>


<div class="wrapper-md" ng-controller="empleadosCtrl">

	<div class="row" ng-show="nuevo">
		<div class="col-md-10">
			<div class="panel panel-default">
		        <div class="panel-heading">
		        	{{TitleForm}}
		        </div>
	        	
	        	<div style="padding: 8px;">
					<form name="myForm">
						<div class="row">
							<div class="form-group col-sm-6">
								<div class="myForm-group has-feedback" ng-class="{'has-success': myForm.id.$dirty && myForm.id.$valid, 'has-error': myForm.id.$dirty && myForm.id.$invalid}">
								<label>Documento</label>
								<input type="text" class="form-control" name="id" ng-model="empleado.DOCUMENTO" ng-model="empleado.DOCUMENTO" only-numbers placeholder="No. Identificacion" required />

								<span ng-show="myForm.id.$dirty && myForm.id.$valid" class="glyphicon glyphicon-ok form-control-feedback">
								</span>
								<span ng-show="myForm.id.$dirty && myForm.id.$invalid" class="glyphicon glyphicon-remove form-control-feedback">
								</span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group has-feedback" ng-class="{'has-success': myForm.sucursal.$dirty && myForm.sucursal.$valid, 'has-error': myForm.sucursal.$dirty && myForm.sucursal.$invalid}">
									<label>Sucursal</label>
									<span ng-show="loadSucursales">
										<i class="fa fa-spinner fa-spin"></i>
									</span>
									<div>
										<select class="form-control" ng-model="empleado.SUCURSAL" ng-options="sucursal.NOMBRE for sucursal in sucursales" required > 
											<option value="">-- Seleccione --</option>
										</select>
									</div>	
								</div>	
							</div>
						</div>

						<div class="row">
							<div class="form-group col-sm-6">
								<div class="myForm-group has-feedback" ng-class="{'has-success': myForm.name.$dirty && myForm.name.$valid, 'has-error': myForm.name.$dirty && myForm.name.$invalid}">
									<label>Nombres</label>
									<input type="text" class="form-control" name="name" ng-model="empleado.NOMBRES" placeholder="Nombres" required />

									<span ng-show="myForm.name.$dirty && myForm.name.$valid" class="glyphicon glyphicon-ok form-control-feedback">
									</span>
									<span ng-show="myForm.name.$dirty && myForm.name.$invalid" class="glyphicon glyphicon-remove form-control-feedback">
									</span>
								</div>
							</div>
							<div class="form-group col-sm-6">
								<div class="myForm-group has-feedback" ng-class="{'has-success': myForm.Apellidos.$dirty && myForm.Apellidos.$valid, 'has-error': myForm.Apellidos.$dirty && myForm.Apellidos.$invalid}">
									<label>Apellidos</label>
									<input type="text" class="form-control" name="APELLIDOS" ng-model="empleado.APELLIDOS" placeholder="Apellidos" required />

									<span ng-show="myForm.Apellidos.$dirty && myForm.Apellidos.$valid" class="glyphicon glyphicon-ok form-control-feedback">
									</span>
									<span ng-show="myForm.Apellidos.$dirty && myForm.Apellidos.$invalid" class="glyphicon glyphicon-remove form-control-feedback">
									</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4 pull-right">
								<button type="button" class="btn btn-default pull-right" ng-click="cancelar();">
									Cancelar
								</button>
								<button type="submit" class="btn btn-success pull-right" style="margin-right: 5px;" ng-click="saveEmpleado();">
									{{botonText}}
								</button>
							</div>
						</div>
					</form>
	        	</div>
	      	</div>
	    </div>
	</div>

	<div class="row">
		<div class="col-md-12" style="margin-bottom: 5px;">
			<button class="btn btn-default" ng-click="nuevoEmpleado();" ng-hide="nuevo" >
				Nuevo
			</button>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
		        <div class="panel-heading">
		        	Listado de Empleados
		        </div>
	        	
	        	<div style="padding: 8px;">
	        	  <div class="table-responsive">	
					<table class="table table-bordered">
						<tr>
							<th>
								Documento 
							</th>
							<th>
								Nombres
							</th>
							<th>
								Apellidos
							</th>
							<th>
								Sucursal
							</th>
							<th>
								Eliminar/Editar
							</th>
						</tr>
						<tr ng-show="empleados.length==0">
							<td style="vertical-align:middle;" colspan="10">
								<i class="fa fa-ban fa-3x"></i>
								&nbsp;No data found
							</td>
						</tr>
                		<tr ng-hide="empleados.length>-1">
                			<td style="vertical-align:middle;" colspan="10">
                				<i class="fa fa-cog fa-3x fa-spin"></i>
                				&nbsp;Loading
                			</td>
                		</tr>
						<tr ng-repeat="empleado in empleados">
							<td>
								{{empleado.DOCUMENTO}}
							</td>
							<td>
								{{empleado.NOMBRES}}
							</td>
							<td>
								{{empleado.APELLIDOS}}
							</td>
							<td>
								{{empleado.SUCURSAL.NOMBRE}}
							</td>
							<td style="width: 120px">
	          					  <div class="btn-group" style="float: right;">
	            					<button type="button" class="btn btn-default fa fa-edit" ng-click="EditarEmpleado(empleado);"></button>
	              				</div>
	              					
	              				<div class="btn-group" style="float: left;">
	              					<button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteEmpleado(empleado);"></button>
	            				 </div>
	        				</td>
						</tr>
					</table>
				  </div>	
	        	</div>
	      	</div>
		</div>
	</div>
</div>
